/* Normalize */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Fonts */
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz8fZwnCo.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz-PZwnCo.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz8_ZwnCo.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz8vZwnCo.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ********** Variables ********** */
/* ********** Resets ********** */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'San-Serif';
  color: #F9F7F7;
}

h1 {
  margin: 0;
  font-size: calc(2rem + 1.1765vw);
  font-weight: 600;
}

h2 {
  margin: 0;
  font-size: calc(1.6875rem + 0.9559vw);
  font-weight: 600;
}

h3 {
  margin: 0;
  font-size: calc(1.3333rem + 0.7844vw);
  font-weight: 600;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.7rem;
  background-color: #F9F7F7;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #00BBF0;
  border-radius: 0.8rem;
}

/* ********** Utilities ********** */
.fill {
  fill: #123053 !important;
}

.ellipse-top {
  width: 182.5vw;
  height: 41.76488vw;
  position: absolute;
  top: -38.2346vw;
  left: -41.25vw;
  z-index: 2;
}

.ellipse-top ellipse {
  fill: #F9F7F7;
}

.ellipse-bottom {
  width: 182.5vw;
  height: 41.76488vw;
  position: absolute;
  bottom: -38.2346vw;
  left: -41.25vw;
}

.ellipse-bottom ellipse {
  fill: #F9F7F7;
}

.hero_image_dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}

.degrade_blue {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #123053), color-stop(70%, rgba(27, 73, 125, 0.7)), color-stop(95%, rgba(171, 201, 236, 0.7)), to(rgba(250, 250, 250, 0.3)));
  background-image: linear-gradient(to bottom, #123053 20%, rgba(27, 73, 125, 0.7) 70%, rgba(171, 201, 236, 0.7) 95%, rgba(250, 250, 250, 0.3));
  opacity: 0.8;
  z-index: 5;
}

.grow {
  height: 100% !important;
  opacity: 1 !important;
}

.fade {
  opacity: 1 !important;
}

.label-out {
  padding-top: 0 !important;
  height: 100% !important;
  font-size: 0.9rem;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.input-shrink {
  height: calc(100% - 1.2rem) !important;
}

.shadow-1 {
  -webkit-box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);
}

/* ********** Keyframes ********** */
@-webkit-keyframes slide-in-right {
  from {
    left: 50vw;
    opacity: 0;
  }
  to {
    left: 0vw;
    opacity: 1;
  }
}
@keyframes slide-in-right {
  from {
    left: 50vw;
    opacity: 0;
  }
  to {
    left: 0vw;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  from {
    right: 100vw;
  }
  to {
    right: 0vw;
  }
}

@keyframes slide-in-left {
  from {
    right: 100vw;
  }
  to {
    right: 0vw;
  }
}

@-webkit-keyframes grow-up {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow-up {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes color-up {
  from {
    color: #F9F7F7;
  }
  to {
    color: #00BBF0;
  }
}

@keyframes color-up {
  from {
    color: #F9F7F7;
  }
  to {
    color: #00BBF0;
  }
}

@-webkit-keyframes background-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes background-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ********** Landing ********** */
#landing {
  height: 100vh;
  background-image: url("Portafolio Images/Desktop-image-l.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: unset;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

#landing header {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing header .nav-bar {
  margin-right: 3.2vw;
  width: 47.0588vw;
  max-width: 40rem;
  height: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
}

#landing header .nav-bar li {
  width: 20%;
  -webkit-animation: grow-up 0.5s ease-in-out both;
          animation: grow-up 0.5s ease-in-out both;
}

#landing header .nav-bar li a {
  height: 100%;
  font-size: calc(0.75rem + 0.2941vw);
  letter-spacing: 0.1rem;
  color: #F9F7F7;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade-in 0.5s ease-in-out both 0.5s;
          animation: fade-in 0.5s ease-in-out both 0.5s;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#landing header .nav-bar li a:hover {
  border-bottom: 0.1rem solid #F9F7F7;
  font-weight: 600;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#landing header .nav-bar li a i {
  display: none;
}

#landing #circle {
  width: 91.7647vw;
  height: 91.7647vw;
  /* max-height: 188.2353vh; */
  display: none;
  position: absolute;
  z-index: 3;
}

#landing #circle circle {
  fill: rgba(255, 255, 255, 0.2);
}

#landing .title {
  width: auto;
  text-align: center;
  z-index: 10;
}

#landing .title div {
  height: 90%;
}

#landing .title div h1 {
  position: relative;
  -webkit-animation: slide-in-right 1s ease both;
          animation: slide-in-right 1s ease both;
}

#landing .title div h2 {
  color: #00BBF0;
  -webkit-animation: fade-in 1s ease-in-out both, color-up 1s ease-in-out both;
          animation: fade-in 1s ease-in-out both, color-up 1s ease-in-out both;
}

/* ********** Sticky Menu ********** */
.sticky_group {
  width: 100%;
  height: 4rem;
  background-color: #F9F7F7;
  border-bottom: 0.15rem solid #00BBF0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky_group .sticky_navbar {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sticky_group .sticky_navbar .sticky_link_group {
  padding: 0 1rem;
  width: 11.25rem;
  height: 100%;
  color: #00BBF0;
  text-decoration: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-animation: all 0.3s ease 0.4s;
          animation: all 0.3s ease 0.4s;
}

.sticky_group .sticky_navbar .sticky_link_group .sticky_label {
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: #005792;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 0.4s ease, width 0.6s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, width 0.6s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, width 0.6s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, width 0.6s ease, -webkit-transform 0.4s ease;
}

.sticky_group .sticky_navbar .sticky_link_group .navbar_icons {
  width: auto;
  height: 100%;
  opacity: 0;
  position: relative;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sticky_group .sticky_navbar .sticky_link_group .navbar_icons svg {
  height: inherit;
}

#home {
  display: none !important;
}

.sticky_links_active {
  -webkit-column-gap: 0.75rem !important;
          column-gap: 0.75rem !important;
  -webkit-animation: all 0.3s ease 0.1s !important;
          animation: all 0.3s ease 0.1s !important;
}

.sticky_label_active {
  opacity: 1 !important;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  -webkit-transition: opacity 0.4s ease 0.1s, width 0.6s ease, -webkit-transform 0.4s ease 0.1s !important;
  transition: opacity 0.4s ease 0.1s, width 0.6s ease, -webkit-transform 0.4s ease 0.1s !important;
  transition: opacity 0.4s ease 0.1s, transform 0.4s ease 0.1s, width 0.6s ease !important;
  transition: opacity 0.4s ease 0.1s, transform 0.4s ease 0.1s, width 0.6s ease, -webkit-transform 0.4s ease 0.1s !important;
}

.sticky_icons_active {
  top: 0 !important;
  opacity: 1 !important;
}

.icons_left {
  left: 0 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

/* ********** Perfil ********** */
#perfil {
  height: calc(100vw/2.3);
  background-color: #F9F7F7;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#perfil .perfil {
  width: 90%;
  max-width: 1350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#perfil .perfil .perfil-texto {
  width: 43.5%;
  height: auto;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.5rem;
}

#perfil .perfil .perfil-texto h1 {
  color: #00204A;
  line-height: 0.9;
}

#perfil .perfil .perfil-texto p {
  height: 75%;
  color: #005792;
  text-align: center;
  line-height: 1.5;
}

#perfil .perfil #perfil-svg {
  width: 50%;
  height: 76.4203%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#perfil .perfil #perfil-svg svg {
  width: 80%;
  height: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-animation: show-up 1s ease-in-out both;
          animation: show-up 1s ease-in-out both;
}

/* ********** Habilidades ********** */
#habilidades {
  padding: 3rem 0;
  height: calc(100vw/2.5);
  background-image: url("Portafolio Images/keyword-blue-xl.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#habilidades .habilidades {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  max-height: 428.57143px;
  position: relative;
}

#habilidades .habilidades .content-habilidades {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#habilidades .habilidades .content-habilidades .skills {
  width: calc(42.5rem + 25%);
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

#habilidades .habilidades .content-habilidades .skills .logo-container {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#habilidades .habilidades .content-habilidades .skills .logo-container .logo {
  width: 7rem;
  height: 7rem;
  max-height: 7rem;
}

#habilidades .habilidades .content-habilidades .skills h3 {
  padding: 0.5rem 0;
  width: calc(8.6667rem + 5.098vw);
  text-align: center;
  display: inline-block;
  border: 0.1rem solid #F9F7F7;
  border-radius: 1rem;
}

/* ********** Portafolio ********** */
#portafolio {
  padding: 4rem 0;
  height: calc(100vw/0.9);
  background-color: #F9F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portafolio .portafolio__container {
  width: 100%;
  height: 100%;
  position: relative;
}

#portafolio .portafolio {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portafolio .portafolio h1 {
  color: #00204A;
}

#portafolio .portafolio .img-container {
  width: 88.2353%;
  height: 88.2353%;
  display: -ms-grid;
  display: grid;
  gap: 0.1rem;
}

#portafolio .portafolio .img-container .project__group {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#portafolio .portafolio .img-container .project__group .project__description {
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#portafolio .portafolio .img-container .project__group .project__description .project__container {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1vw;
}

#portafolio .portafolio .img-container .project__group .project__description .project__container p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0.15s;
  transition: all 0.4s ease 0.15s;
}

#portafolio .portafolio .img-container .n1 {
  background-image: url("Portafolio Images/Screen-Portfolio.jpg");
}

#portafolio .portafolio .img-container .n2 {
  background-image: url("Portafolio Images/Screen-Huddle.jpg");
}

#portafolio .portafolio .img-container .n3 {
  background-image: url("Portafolio Images/Screen-Price.jpg");
}

#portafolio .portafolio .img-container .n4 {
  background-image: url("Portafolio Images/Screen-Feature.jpg");
}

#portafolio .portafolio .img-container .n5 {
  background-image: url("Portafolio Images/Screen-Social-Proof.jpg");
}

#portafolio .portafolio .img-container .n6 {
  background-image: url("Portafolio Images/Screen-Testimonial.jpg");
}

#portafolio .portafolio .img-container .n7 {
  background-image: url("Portafolio Images/Screen-Sign-Up.jpg");
}

#portafolio .portafolio .img-container .n7 .second-image {
  background-image: url("Portafolio Images/Screen-Sign-Up-Active.jpg");
}

#portafolio .portafolio .img-container .n8 {
  background-image: url("Portafolio Images/Screen-Preview.jpg");
}

#portafolio .portafolio .img-container .n8 .second-image {
  background-image: url("Portafolio Images/Screen-Preview-Active.jpg");
}

#portafolio .portafolio .img-container .n9 {
  background-image: url("Portafolio Images/Screen-Calculator.jpg");
}

#portafolio .portafolio .img-container .n9 .second-image {
  background-image: url("Portafolio Images/Screen-Calculator-Active.jpg");
}

.second-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0;
  position: absolute;
  z-index: 3;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.opacity {
  opacity: 1;
}

/* ********** Contacto ********** */
#contacto {
  padding: 3rem 0;
  height: calc(100vw/2.1);
  background-image: url("Portafolio Images/keyword-red-xl.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto {
  width: 80%;
  max-width: 1500px;
  height: 85%;
  max-height: 468.75px;
  text-align: center;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

#contacto .contacto .left-contacto {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto .left-contacto .email-container {
  width: 95%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto .left-contacto .email-container svg {
  width: 100%;
  height: 100%;
  max-height: 60.3318vh;
  fill: #F9F7F7;
}

#contacto .contacto .form {
  width: 50%;
  height: unset;
  display: -ms-grid;
  display: grid;
  row-gap: 0.5vw;
}

#contacto .contacto .form .form__group, #contacto .contacto .form button {
  height: calc(2.281rem + 1.65vw);
  max-height: 3.8312rem;
}

#contacto .contacto .form .form__group .form__group-input, #contacto .contacto .form .form__group .form__group-text-area, #contacto .contacto .form button .form__group-input, #contacto .contacto .form button .form__group-text-area {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#contacto .contacto .form .form__group .form__group-input .label, #contacto .contacto .form .form__group .form__group-text-area .label, #contacto .contacto .form button .form__group-input .label, #contacto .contacto .form button .form__group-text-area .label {
  padding-left: 1rem;
  height: 55%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

#contacto .contacto .form .form__group .form__input, #contacto .contacto .form .form__group .form__text-area, #contacto .contacto .form .form__group button, #contacto .contacto .form button .form__input, #contacto .contacto .form button .form__text-area, #contacto .contacto .form button button {
  outline: unset;
  padding: 0 1rem;
  width: 100%;
  height: 80%;
  background-color: transparent;
  font: inherit;
  font-family: 'Montserrat';
  color: #F9F7F7;
  border: 0.1rem solid #F9F7F7;
  border-radius: 0.75rem;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#contacto .contacto .form #mensajeGroup {
  height: calc((2.281rem + 1.65vw) * 3.5);
  max-height: 17.3154rem;
}

#contacto .contacto .form #mensajeGroup .form__group-text-area .label {
  padding: 1rem 0 0 1rem;
  height: 95%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contacto .contacto .form #mensajeGroup .form__group-text-area .form__text-area {
  padding: 1rem;
  height: 95%;
}

#contacto .contacto .form .button__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#contacto .contacto .form .button__group .btn {
  width: 50%;
  cursor: pointer;
}

#contacto .contacto .form .button__group .btn:hover {
  background-color: #F9F7F7;
  color: #123053;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ********** Footer ********** */
footer {
  padding: 2rem 0;
  height: 30vh;
  max-height: 15.38462vw;
  background-color: #123053;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .redes-container {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .redes-container .redes {
  width: 2rem;
  height: 2rem;
  fill: #F9F7F7;
}

footer .name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .name div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
}

/* ********** Media Query ********** */
@media (min-width: 1500px) {
  #landing {
    background-image: url("Portafolio Images/Desktop-image-xl.jpg") !important;
  }
  #landing .nav-bar {
    margin-right: 3rem !important;
  }
  #landing .nav-bar .nav-li a {
    font-size: 1rem !important;
  }
  #perfil {
    max-height: 652.172px !important;
  }
  #perfil .perfil-texto {
    row-gap: 3rem !important;
  }
  #habilidades {
    max-height: 595.188px !important;
    background-image: url("Portafolio Images/keyword-blue-xl.jpg") !important;
  }
  #habilidades .dark {
    height: 100% !important;
  }
  #portafolio {
    max-height: 1235.620px;
  }
  #contacto {
    max-height: 49.3412rem;
    background-image: url("Portafolio Images/keyword-red-xl.jpg") !important;
  }
  #contacto .dark {
    height: 100% !important;
  }
}

@media (min-width: 1400px) {
  .sticky_link_group {
    width: 11.5rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem !important;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  .sticky_link_group {
    font-size: 1.125rem;
  }
}

@media (min-width: 1000px) {
  #landing {
    background-image: url("Portafolio Images/Desktop-image-m.jpg") !important;
  }
  #perfil .perfil-texto {
    row-gap: 1.75rem !important;
  }
  #habilidades {
    background-image: url("Portafolio Images/keyword-blue-m.jpg") !important;
  }
  #contacto {
    height: calc(100vw/1.9) !important;
    background-image: url("Portafolio Images/keyword-red-m.jpg") !important;
  }
  #contacto .contacto {
    height: 90% !important;
  }
  .img-container {
    -ms-grid-rows: (1fr)[6];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(6, 1fr)/repeat(3, 1fr);
  }
  .img-container .n1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / span 5 / span 1;
  }
  .img-container .n7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / span 2 / span 2;
  }
  .img-container .n5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
  }
  .img-container .n8 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 5 / 2 / span 2 / span 1;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  #landing {
    padding: 2rem 0;
    background-image: url("Portafolio Images/Desktop-image-m.jpg") !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #landing .nav-bar {
    width: 75% !important;
  }
  #landing .nav-bar .nav-li a {
    font-size: calc(0.75rem + 0.5vw) !important;
  }
  #landing .title {
    width: 60% !important;
    height: 45% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing .title div {
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sticky_group {
    border-top: 0.15rem solid #00BBF0;
    border-bottom: unset;
    top: 0 !important;
    bottom: 0;
  }
  .sticky_group .sticky_navbar {
    -webkit-column-gap: 1rem !important;
            column-gap: 1rem !important;
  }
  .sticky_group .sticky_navbar .sticky_link_group {
    padding: 0 0.5rem !important;
    width: 10.5rem !important;
    font-size: 0.9rem !important;
  }
  #perfil {
    padding: 4rem 0;
    height: 100vw !important;
  }
  #perfil .perfil {
    width: 90%;
    height: 100%;
    display: -ms-grid;
    display: grid;
  }
  #perfil .perfil .perfil-texto {
    width: 100% !important;
    height: 100% !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2vw;
  }
  #perfil .perfil .perfil-texto p {
    width: 80%;
    height: 70% !important;
  }
  #perfil .perfil #perfil-svg {
    width: 100% !important;
    height: 90% !important;
  }
  #perfil .perfil #perfil-svg svg {
    width: 50%;
  }
  #habilidades {
    padding: 3rem 0 !important;
    background-image: url("Portafolio Images/keyword-blue-m.jpg") !important;
    height: calc(100vw/1.5) !important;
  }
  #habilidades .dark {
    height: 100% !important;
  }
  #habilidades .habilidades {
    max-height: 100% !important;
  }
  #habilidades .habilidades .skills {
    width: 65% !important;
    height: 70% !important;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #habilidades .habilidades .skills .logo-container {
    width: 40% !important;
    height: 45% !important;
  }
  #habilidades .habilidades .skills .logo-container .logo {
    height: 7rem !important;
  }
  #portafolio {
    height: calc(100vw/0.65);
  }
  #portafolio .img-container {
    -ms-grid-rows: (1fr)[6];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(6, 1fr)/repeat(2, 1fr);
  }
  #portafolio .img-container .n1 {
    display: none !important;
  }
  #portafolio .img-container .n5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
  }
  #portafolio .img-container .n7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / span 2 / span 2;
  }
  #portafolio .img-container .n8 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 5 / 2 / span 2 / span 1;
  }
  #portafolio .img-container .n9 {
    display: none;
  }
  #contacto {
    padding: 3rem 0 !important;
    background-image: url("Portafolio Images/keyword-red-m.jpg") !important;
    height: calc(100vw/1.5) !important;
  }
  #contacto .contacto {
    width: 85% !important;
    height: 90% !important;
    max-height: unset !important;
  }
  #contacto .contacto svg {
    max-height: 35vw !important;
  }
  #contacto .form .form__group {
    height: calc(2.5rem + 2.35vw) !important;
  }
  #contacto .form #mensajeGroup {
    height: calc((2.5rem + 2.35vw) * 3.5) !important;
  }
  footer {
    padding: 0;
    height: calc(100vw / 6);
  }
  footer .redes-container {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

/* *********** Tablet ********** */
@media (min-width: 600px) and (max-width: 799px) {
  #landing {
    padding: 2rem 0;
    background-image: url("Portafolio Images/Desktop-image-l.jpg") !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #landing .nav-bar {
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  #landing .nav-bar .nav-li {
    width: 18% !important;
  }
  #landing .nav-bar .nav-li a {
    font-size: calc(0.75rem + 0.5vw) !important;
  }
  .sticky_group {
    border-top: 0.15rem solid #00BBF0;
    border-bottom: unset;
    top: 0 !important;
    bottom: 0;
  }
  .sticky_group .sticky_navbar {
    padding: 0 !important;
    width: 100%;
    height: 100% !important;
    -webkit-column-gap: 0.1rem !important;
            column-gap: 0.1rem !important;
  }
  .sticky_group .sticky_navbar #home {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .sticky_group .sticky_navbar .sticky_link_group {
    padding: 0 !important;
    width: 20% !important;
    height: 100%;
    font-size: 0.9rem !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.1s ease, color 0.1s ease !important;
    transition: background-color 0.1s ease, color 0.1s ease !important;
  }
  .sticky_group .sticky_navbar .sticky_link_group:active {
    background-color: #00BBF0 !important;
    color: #F9F7F7 !important;
  }
  .sticky_group .sticky_navbar .sticky_link_group i {
    height: 2rem !important;
  }
  #perfil {
    padding: 4rem 0;
    height: unset !important;
  }
  #perfil .perfil {
    width: 90%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    row-gap: 3vw;
  }
  #perfil .perfil .perfil-texto {
    width: 100% !important;
    height: 100% !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 4vw;
  }
  #perfil .perfil .perfil-texto p {
    padding: 2vw 0;
    width: 80%;
    height: unset !important;
    text-align: center;
  }
  #perfil .perfil #perfil-svg {
    width: 100% !important;
    height: 90% !important;
  }
  #perfil .perfil #perfil-svg svg {
    width: 70%;
  }
  #habilidades {
    padding: 3rem 0 !important;
    height: calc(100vw/1.2) !important;
    background-image: url("Portafolio Images/keyword-blue-l.jpg") !important;
  }
  #habilidades .dark {
    height: 100% !important;
  }
  #habilidades .habilidades {
    max-height: 100% !important;
  }
  #habilidades .habilidades .skills {
    width: 65% !important;
    height: 70% !important;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #habilidades .habilidades .skills .logo-container {
    width: 40% !important;
    height: 45% !important;
  }
  #habilidades .habilidades .skills .logo-container .logo {
    height: 7rem !important;
  }
  #portafolio {
    height: calc(100vw/0.65);
  }
  #portafolio .img-container {
    -ms-grid-rows: (1fr)[6];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(6, 1fr)/repeat(2, 1fr);
  }
  #portafolio .img-container .n1 {
    display: none !important;
  }
  #portafolio .img-container .n5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
  }
  #portafolio .img-container .n7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / span 2 / span 2;
  }
  #portafolio .img-container .n8 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 5 / 2 / span 2 / span 1;
  }
  #portafolio .img-container .n9 {
    display: none;
  }
  #contacto {
    padding: 3rem 0 !important;
    height: calc(100vw * 1.1) !important;
    background-image: url("Portafolio Images/keyword-red-l.jpg") !important;
  }
  #contacto .contacto {
    width: 85% !important;
    height: 90% !important;
    max-height: unset !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .contacto svg {
    max-height: 35vw !important;
  }
  #contacto .form {
    width: 100% !important;
    -ms-grid-rows: 0.8fr 3fr 0.8fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 0.8fr 3fr 0.8fr/repeat(2, 1fr);
    -webkit-column-gap: 3vw;
            column-gap: 3vw;
  }
  #contacto .form .form__group {
    height: 3.75rem !important;
  }
  #contacto .form #mensajeGroup {
    height: calc(3.75rem * 3.5) !important;
    grid-column: span 2;
  }
  #contacto .form .button__group {
    width: 100%;
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contacto .form .button__group .btn {
    width: 50% !important;
  }
  footer {
    padding: 0;
    height: calc(100vw / 5);
  }
  footer .redes-container {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2vw;
            column-gap: 2vw;
  }
}

/* ********** Movil Screen ********** */
@media (max-width: 599px) {
  #landing {
    padding: 2rem 0;
    background-image: url("Portafolio Images/Desktop-image-s.jpg") !important;
    z-index: 1000 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #landing header {
    display: none;
  }
  #landing .title {
    width: 80% !important;
    height: 45% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing .title div {
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing .title div h1 {
    font-size: calc(1.5rem + 1.1765vw);
  }
  #landing .title div h2 {
    font-size: calc(1.25rem + 0.9559vw);
  }
  .sticky_group {
    height: 3.5rem !important;
    border-top: 0.1rem solid #00BBF0;
    border-bottom: unset;
    top: 0 !important;
    bottom: 0;
  }
  .sticky_group .sticky_navbar {
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-column-gap: 0.1rem !important;
            column-gap: 0.1rem !important;
    z-index: 5;
  }
  .sticky_group .sticky_navbar .sticky_link_group {
    padding: 0 !important;
    width: 25% !important;
    background-color: #F9F7F7;
    font-size: 0.9rem !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
  }
  .sticky_group .sticky_navbar .sticky_link_group:active {
    background-color: #00BBF0;
    color: #F9F7F7;
  }
  .sticky_group .sticky_navbar .sticky_link_group i {
    height: 2rem !important;
  }
  .sticky_group .sticky_navbar #home {
    padding: 0.75rem !important;
    width: 3.5rem !important;
    height: 3.5rem;
    background-color: #F9F7F7;
    color: #00BBF0;
    border: 0.1rem solid #00BBF0;
    border-radius: 50%;
    -webkit-box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);
            box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: calc(3.5rem + 3vw);
    right: 6vw;
    z-index: 2 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, bottom 0.3s ease;
    transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, bottom 0.3s ease;
  }
  .sticky_group .sticky_navbar #home:active {
    background-color: #00BBF0;
    color: #F9F7F7;
    border-color: #F9F7F7;
  }
  .sticky_group .sticky_navbar #home i {
    top: -150%;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    -webkit-transition: top 0.3s ease 0.25s !important;
    transition: top 0.3s ease 0.25s !important;
  }
  .sticky_group .sticky_navbar .abajo {
    -webkit-box-shadow: unset !important;
            box-shadow: unset !important;
    bottom: -1% !important;
    pointer-events: unset;
  }
  #perfil {
    padding: 4rem 0;
    height: unset !important;
  }
  #perfil .perfil {
    width: 90%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    row-gap: 3vw;
  }
  #perfil .perfil .perfil-texto {
    width: 100% !important;
    height: 100% !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 4vw;
  }
  #perfil .perfil .perfil-texto p {
    padding: 2vw 0;
    width: 80%;
    height: unset !important;
    text-align: center;
  }
  #perfil .perfil #perfil-svg {
    width: 100% !important;
    height: 90% !important;
  }
  #perfil .perfil #perfil-svg svg {
    width: 70%;
  }
  #habilidades {
    padding: 4rem 0 !important;
    height: unset !important;
    background-image: url("Portafolio Images/keyword-blue-s.jpg") !important;
  }
  #habilidades .dark {
    height: 100% !important;
  }
  #habilidades .habilidades {
    max-height: 100% !important;
  }
  #habilidades .habilidades .content-habilidades {
    display: -ms-grid !important;
    display: grid !important;
    row-gap: 5vw;
  }
  #habilidades .habilidades .content-habilidades .skills {
    width: 100% !important;
    height: 100% !important;
    display: -ms-grid !important;
    display: grid !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    row-gap: 1.5rem !important;
  }
  #habilidades .habilidades .content-habilidades .skills .logo-container {
    width: 100% !important;
    height: 100% !important;
  }
  #habilidades .habilidades .content-habilidades .skills .logo-container .logo {
    width: 8rem !important;
    height: 7rem !important;
  }
  #portafolio {
    height: unset;
  }
  #portafolio .portafolio__container {
    max-height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #portafolio .portafolio__container .portafolio {
    width: 90%;
    display: -ms-grid;
    display: grid;
    row-gap: 7vw;
  }
  #portafolio .portafolio__container .portafolio .img-container {
    width: 90vw;
    height: 100%;
  }
  #portafolio .portafolio__container .portafolio .img-container a {
    width: 100%;
    height: calc(90vw/2.05);
  }
  #portafolio .portafolio__container .portafolio .img-container .n5 {
    height: calc(90vw/1.025);
  }
  #portafolio .portafolio__container .portafolio .img-container .n8 {
    height: calc(90vw/1.025);
  }
  #contacto {
    padding: 3rem 0 !important;
    height: unset !important;
    background-image: url("Portafolio Images/keyword-red-s.jpg") !important;
  }
  #contacto .contacto {
    width: 85vw !important;
    height: unset !important;
    max-height: unset !important;
    display: -ms-grid;
    display: grid;
  }
  #contacto .contacto svg {
    max-height: 35vw !important;
  }
  #contacto .left-contacto {
    width: 85vw !important;
    max-width: unset !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contacto .form {
    width: 85vw !important;
    -webkit-column-gap: 0 !important;
            column-gap: 0 !important;
    row-gap: calc(2vw * 2) !important;
  }
  #contacto .form .form__group {
    height: 3.75rem !important;
    max-height: unset !important;
  }
  #contacto .form #mensajeGroup {
    height: calc(3.75rem * 3.5) !important;
  }
  #contacto .form #mensajeGroup .label {
    padding-top: 3vw;
  }
  footer {
    padding: 1rem 0 !important;
    width: 100vw;
    height: unset;
    max-height: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 3vw;
  }
  footer .redes-container {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2vw;
            column-gap: 2vw;
  }
  footer .name div {
    width: 75%;
  }
  footer .name div p {
    font-size: 0.9rem;
    text-align: center;
  }
  footer .name div p span {
    display: none;
  }
}
/*# sourceMappingURL=PortafolioStyle.css.map */