/* ********** Fonts ********** */

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spartan/v3/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrFivl6HABTdfw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spartan/v3/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrFivl6JABQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ********** Reset ********** */

@import "../../Normalize.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 32px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', 'San-Serif';
}

h3 {
    font-size: calc(0.25rem + 6.5vw);
}

h4 {
    font-size: calc(0.1rem + 4.5vw);
}

h5 {
    font-size: calc(0.05rem + 3.85vw);
}

h6 {
    font-size: calc(0.05rem + 2.75vw);
}

/* ********** Variables ********** */

$white: #FFFFFF;
$black: #000000;

/* ***** Theme 1 ***** */

$main-background-1: #3A4663;
$keypad-background-1: #232C42;
$screen-background-1: #181F34;
$special-key-background-1: #626F97;
$special-key-shadow-1: #404D72;
$equal-key-background-1: #CF3F2F;
$equal-key-shadow-1: #93261A;
$number-key-background-1: #E9E2DB;
$number-key-shadow-1: #B4A497;
$text-1: #434A5A;

/* ***** Theme 2 ***** */

$main-background-2: #E5E5E5;
$keypad-background-2: #D0CCCC;
$screen-background-2: #EDEDED;
$special-key-background-2: #367F85;
$special-key-shadow-2: #1A5E64;
$equal-key-background-2: #C95502;
$equal-key-shadow-2: #893900;
$number-key-background-2: #E4E3E0;
$number-key-shadow-2: #A69D90;
$text-2: #35352B;

/* ***** Theme 3 ***** */

$main-background-3: #150528;
$keypad-background-3: #1D0834;
$special-key-background-3: #57077D;
$special-key-shadow-3: #BC15F3;
$equal-key-background-3: #00E0D1;
$equal-key-shadow-3: #6CF8F1;
$number-key-background-3: #331C4E;
$number-key-shadow-3: #861B9C;
$text-3: #FFE53D;
$very-dark-blue: #8AA5B1;

/* ***** Mixin ***** */

@mixin flex ($direction: row, $justify: unset, $align: unset, $rowg: unset, $columng: unset) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    row-gap: $rowg;
    column-gap: $columng;
}

@mixin displays ($ptop, $sides, $pbottom) {
    padding: $ptop $sides $pbottom $sides;
    width: 100%;
    height: 50%;
}

/* ********** Utilities ********** */

.theme-1 {
    .container {
        background-color: $main-background-1;
        color: $white;

        .toggle_group {
            background-color: $keypad-background-1;
        
            .toggle {
                background-color: $equal-key-background-1;
            }
        }

        .display_group {
            background-color: $screen-background-1;
            color: $white;

            .display_1 {
                &::-webkit-scrollbar {
                    background-color: $screen-background-1;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $equal-key-background-1;
                }
            }
        }

        .keypad {
            background-color: $keypad-background-1;

            .number, .special, .operator {
                background-color: $number-key-background-1;
                color: $text-1;
                border: none;
                border-bottom: 0.175rem solid $number-key-shadow-1;

                &:active {
                    background-color: $number-key-shadow-1;
                }
            }

            .erase, .delete {
                background-color: $special-key-background-1;
                color: $white;
                border: none;
                border-bottom: 0.175rem solid $special-key-shadow-1;

                &:active {
                    background-color: $special-key-shadow-1;
                }
            }

            .equal {
                background-color: $equal-key-background-1;
                color: $white;
                border: none;
                border-bottom: 0.175rem solid $equal-key-shadow-1;

                &:active {
                    background-color: $equal-key-shadow-1;
                }
            }
        }
    }
}

.theme-2 {
    .container {
        background-color: $main-background-2;
        color: $text-2;

        .toggle_group {
            background-color: $keypad-background-2;
        
            .toggle {
                background-color: $equal-key-background-2;
            }
        }

        .display_group {
            background-color: $screen-background-2;
            color: $text-2;

            .display_1 {
                &::-webkit-scrollbar {
                    background-color: $screen-background-2;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $equal-key-background-2;
                }
            }
        }

        .keypad {
            background-color: $keypad-background-2;

            .number, .special, .operator {
                background-color: $number-key-background-2;
                color: $text-2;
                border: none;
                border-bottom: 0.175rem solid $number-key-shadow-2;

                &:active {
                    background-color: $number-key-shadow-2;
                }
            }

            .erase, .delete {
                background-color: $special-key-background-2;
                color: $white;
                border: none;
                border-bottom: 0.175rem solid $special-key-shadow-2;

                &:active {
                    background-color: $special-key-shadow-2;
                }
            }

            .equal {
                background-color: $equal-key-background-2;
                color: $white;
                border: none;
                border-bottom: 0.175rem solid $equal-key-shadow-2;

                &:active {
                    background-color: $equal-key-shadow-2;
                }
            }
        }
    }
}

.theme-3 {
    .container {
        background-color: $main-background-3;
        color: $text-3;

        .toggle_group {
            background-color: $keypad-background-3;
        
            .toggle {
                background-color: $equal-key-background-3;
            }
        }

        .display_group {
            background-color: $keypad-background-3;
            color: $text-3;

            .display_1 {
                &::-webkit-scrollbar {
                    background-color: $keypad-background-3;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $equal-key-background-3;
                }
            }
        }

        .keypad {
            background-color: $keypad-background-3;

            .number, .special, .operator {
                background-color: $number-key-background-3;
                color: $text-3;
                border: none;
                border-bottom: 0.175rem solid $number-key-shadow-3;

                &:active {
                    background-color: $number-key-shadow-3;
                }
            }

            .erase, .delete {
                background-color: $special-key-background-3;
                color: $white;
                border: none;
                border-bottom: 0.175rem solid $special-key-shadow-3;

                &:active {
                    background-color: $special-key-shadow-3;
                }
            }

            .equal {
                background-color: $equal-key-background-3;
                color: $black;
                border: none;
                border-bottom: 0.175rem solid $equal-key-shadow-3;

                &:active {
                    background-color: $equal-key-shadow-3;
                }
            }
        }
    }
}

/* ********** Container ********** */

.container {
    width: 100%;
    height: 100vh;
    @include flex ($justify: center, $align: center);
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    

    .calculator {
        width: 100%;
        height: calc(100vw * 1.8);
        max-height: 100%;
        @include flex ($justify: center, $align: center);
        
        .calculator_container {
            padding: 0.5rem 0.5rem;
            width: 100%;
            height: 100%;
            max-height: 100vh;
            @include flex ($direction: column, $justify: space-between);
        }
    }
}

/* ********** Switch ********** */

header {
    width: 100%;
    height: calc((100vw - 2rem) / 6.5);
    max-height: 8%;

    article {
        width: 100%;
        height: 100%;
        @include flex ($justify: space-between, $align: center);

        .themes_group {
            width: 45%;
            height: 100%;
            @include flex ($justify: space-between, $align: center);

            .themes_label {
                padding: 0.25rem;
                letter-spacing: 0.05rem;
                @include flex ($align: flex-end);
                align-self: stretch;
            }

            .switch_group {
                width: 50%;
                height: 100%;
                @include flex ($direction: column, $justify: space-between);
                
                .switch_nums {
                    width: 100%;
                    @include flex ($justify: space-around, $align: center);
                }
                
                .toggle_group {
                    padding: 0.15rem;
                    width: 100%;
                    height: 60%;
                    border-radius: 1.5rem;
                    position: relative;
                    transition: background-color 0.3s ease;

                    
                    .toggle {
                        width: 25%;
                        height: 100%;
                        border-radius: 50%;
                        border-bottom: unset;
                        position: relative;
                        left: 0;
                        transform: translate(0);
                        transition: left 0.2s ease, transform 0.2s ease, color 0.3s ease;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .toggle-2 {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
    
    .toggle-3 {
        left: 100% !important;
        transform: translateX(-100%) !important;
    }
}

/* ********** Display ********** */

.display {
    width: 100%;
    height: calc((100vw - 1rem) / 2.5);
    // max-height: 22.9528%;
    max-height: 20.2145%;
    
    .display_group {
        height: 100%;
        border-radius: 0.35rem;
        @include flex ($direction: column, $justify: center, $align: center);
        text-align: right;
        transition: background-color 0.3s ease, color 0.3s ease;

        .display_1 {
            width: calc(100% - 1rem);
            height: 40%;
            @include flex ($direction: row-reverse, $align: center, $columng: 0.25rem);
            font-size: 0.75rem;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 100%;
                height: 0.25rem;
                background-color: $screen-background-1;
                transition: background-color 0.3s ease;
            }
            
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            
            &::-webkit-scrollbar-button:increment, &::-webkit-scrollbar-button {
                display: none;
            } 
            
            &::-webkit-scrollbar-thumb {
                background-color: $equal-key-background-1;
                border-radius: 0.25rem;
                transition: background-color 0.3s ease;
            }
        }

        .display_2 {
            width: calc(100% - 1rem);
            height: 40%;
            @include flex ($direction: row-reverse, $align: center);
            overflow: hidden;
        }
    }
}

/* ********** Keypad ********** */

.keypad {
    padding: 0.5rem;
    width: 100%;
    max-height: 60.2798%;
    border-radius: 0.35rem;
    @include flex (column, center, center);
    transition: background-color 0.3s ease;

    article {
        width: 100%;
        height: calc((100vw - 1.5rem) * 1.1);
        max-height: 100%;
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(4, 1fr);
        gap: 0.3rem;

        .btn {
            outline: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 0.3rem;
            position: relative;
            transition: background-color 0.3s ease, color 0.3s ease;
            
            h3 {
                line-height: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -40%);
            }

            h4 {
                line-height: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -40%);
            }
        }

        .equal {
            grid-column: span 2;
        }
    }
}

/* ********** Media Query ********** */



/* ***** Min 400 ***** */

@media (min-width: 400px) {
    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.65rem;
    }

    h5 {
        font-size: 0.5rem;
    }

    h6 {
        font-size: 0.35rem;
    }

    .container {
    
        .calculator {
            width: 85%;
            max-width: 467.5px;
            height: calc(85vw * 1.6);
            max-height: 748px;
            
            .calculator_container {
                // padding: 0.5rem 1rem;

            }
        }
    }

    header {
        height: calc((100vw - 2rem) / 8);
        max-height: 7%;
    
        article {
    
            .themes_group {
                width: 40%;
    
                .switch_group {
                    width: 45%;
    
                    .toggle_group {
                        height: 55%;
                    }
                }
            }
        }
    }

    .display {
        // height: calc((100vw - 2rem) / 2.6);
        // max-height: 22.9528%;
        max-height: 21%;
        
        .display_group {
    
            .display_1 {
                width: calc(100% - 1.5rem);
                font-size: 0.75rem;
                column-gap: 0.5rem;
            }
    
            .display_2 {
                width: calc(100% - 1.5rem);
            }
        }
    }

    .keypad {
        padding: 0.75rem;
        max-height: 63%;
    
        article {
            height: calc((100vw - 2.5rem) * 1);
            max-height: 100%;

            .btn {
                border-radius: 0.3rem;
            }
        }
    }
}

/* ***** Min 800 ***** */

@media (min-width: 800px) {
    .container {
        
        .calculator {
            padding: unset;
            width: 60%;
            max-width: 570px;
            height: calc(60vw * 1.3);
            max-height: 741px;
        }
    }
    
    header {
        height: calc((100vw - 2rem) / 8);
    
        article {
    
            .themes_group {
                width: 30%;
    
                .switch_group {
                    width: 45%;
    
                    .toggle_group {
                        height: 55%;
                    }
                }
            }
        }
    }
    
    .display {
        height: calc((100vw - 2rem) / 2.7);
        max-height: 21%;
        
        .display_group {
    
            .display_1 {
                width: calc(100% - 1.6rem);
                font-size: 0.75rem;
            }
    
            .display_2 {
                width: calc(100% - 1.6rem);
            }
        }
    }
    
    .keypad {
        padding: 0.8rem;
        max-height: 64%;
    
        article {
            height: calc((100vw - 1.6rem) * 1);
            max-height: 100%;
            gap: 0.35rem;
        }
    }
}

/* ***** Min 1000 ***** */

@media (min-width: 1000px) {
    .container {
        
        .calculator {
            padding: unset;
            width: 45%;
            // max-width: 575px;
            max-width: unset;
            height: calc(45vw * 1.25);
            // max-height: 690px;
            max-height: unset;
        }
    }
    
    header {
        height: calc((100vw - 2rem) / 8);
        max-height: 7.5%;
    
        article {
    
            .themes_group {
                width: 30%;
    
                .switch_group {
                    width: 45%;
    
                    .toggle_group {
                        max-height: 50%;
                    }
                }
            }
        }
    }
    
    .display {
        height: calc((100vw - 2rem) / 2.6);
        max-height: 21%;
        
        .display_group {
    
            .display_1 {
                font-size: 0.75rem;
            }
    
            .display_2 {
            }
        }
    }
    
    .keypad {
        // padding: 1rem;
        max-height: 66%;
    
        article {
            height: calc((100vw - 1rem) * 1);
            max-height: 100%;
            gap: 0.5rem;
        }
    }
}

/* ***** Min 1200 ***** */

@media (min-width: 1200px) {
    .container {
        
        .calculator {
            padding: unset;
            width: 40%;
            // max-width: 607.5px;
            max-width: unset;
            height: calc(40vw * 1.25);
            // max-height: 729px;
            max-height: unset;
        }
    }
    
    header {
        height: calc((100vw - 2rem) / 8);
        max-height: 7.5%;
    
        article {
    
            .themes_group {
                width: 30%;
    
                .switch_group {
                    width: 45%;
    
                    .toggle_group {
                        max-height: 50%;
                    }
                }
            }
        }
    }
    
    .display {
        height: calc((100vw - 2rem) / 2);
        // max-height: 22.9528%;
        
        .display_group {
    
            .display_1 {
                font-size: 0.75rem;
            }
    
            .display_2 {
            }
        }
    }
    
    .keypad {
        // padding: 1rem;
        max-height: 65%;
    
        article {
            height: calc((100vw - 1rem) * 1);
            max-height: 100%;
        }
    }
}

/* ***** Min 1400 ***** */

@media (min-width: 1400px) {
    .container {
        
        .calculator {
            padding: unset;
            width: 35%;
            max-width: 560px;
            height: calc(35vw * 1.25);
            max-height: 700px;
        }
    }
    
    header {
        height: calc((100vw - 2rem) / 8);
        max-height: 7.5%;
    
        article {
    
            .themes_group {
                width: 30%;
    
                .switch_group {
                    width: 45%;
    
                    .toggle_group {
                        max-height: 50%;
                    }
                }
            }
        }
    }
    
    .display {
        height: calc((100vw - 2rem) / 2.5);
        // max-height: 22.9528%;
        
        .display_group {
    
            .display_1 {
                font-size: 0.75rem;
            }
    
            .display_2 {
            }
        }
    }
    
    .keypad {
        // max-height: 65%;
    
        article {
            height: calc((100vw - 1rem) * 1);
            max-height: 100%;
        }
    }
}

/* ***** Movil Horizontal ****** */

@media screen and (max-width: 999px) and (max-height: 450px) {
    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 0.55rem;
    }

    h5 {
        font-size: 0.4rem;
    }

    h6 {
        font-size: 0.25rem;
    }
    .container {
    
        .calculator {
            width: 100%;
            max-width: 750px;
            height: 100%;
            max-height: 100%;
            
            .calculator_container {
                padding: 0;
                display: grid;
                grid-template:  0.65fr 1.35fr / 0.3fr 1.7fr;
            }
        }
    }

    header {
        height: unset;
        max-height: unset;
        grid-row: span 2;
    
        article {
            padding: 0.5rem 0;
            flex-direction: column;
    
            .themes_group {
                width: 40%;
                height: 45%;
                min-height: 160px;
                flex-direction: column;
                // justify-content: flex-start;
                // row-gap: 0.5rem;

                .themes_label {
                    margin: 0 auto;
                    width: 0.85rem;
                    height: auto;
                    letter-spacing: unset;
                    line-height: 1.5;
                    word-wrap: break-word;
                    text-align: center;
                    display: inline;
                }
    
                .switch_group {
                    width: 100%; 
                    min-width: 38px;
                    height: 40%;
                    min-height: 80.5px;
                    flex-direction: row;

                    .switch_nums {
                        width: unset;
                        flex-direction: column;
                    }
    
                    .toggle_group {
                        width: 0.75rem;
                        height: 100%;
                        
                        .toggle {
                            top: 0;
                            transform: translateY(0);
                            width: 100%;
                            height: 22.5%;
                        }
                    }
                }
            }
        }

        .toggle-2 {
            top: 50% !important;
            left: 0 !important;
            transform: translateY(-50%) !important;
        }
        
        .toggle-3 {
            top: 100% !important;
            left: 0 !important;
            transform: translateY(-100%) !important;
        }
    }

    .display {
        height: unset;
        // max-height: 22.9528%;
        max-height: unset;
        overflow: hidden;
        
        .display_group {
            border-radius: 0.35rem 0.35rem 0 0;
    
            .display_1 {
                width: calc(100% - 1rem);
                max-width: 100%;
                font-size: 0.75rem;
                column-gap: 0.5rem;
            }
    
            .display_2 {
                width: calc(100% - 1.5rem);
                height: 45%;
                align-items: flex-end;
            }
        }
    }

    .keypad {
        padding: 0.35rem;
        height: unset;
        max-height: unset;
        border-radius: 0 0 0.35rem 0.35rem;
    
        article {
            height: 100%;
            max-height: 100%;
            grid-template: repeat(4, 1fr) / repeat(5, 1fr);

            .btn {
                border-radius: 0.3rem;
                border-bottom-width: 0.15rem !important;
            }

            .n4 {
                grid-area: 2 / 1 / span 1 / span 1;
            }

            .n5 {
                grid-area: 2 / 2 / span 1 / span 1;
            }

            .n6 {
                grid-area: 2 / 3 / span 1 / span 1;
            }

            .n1 {
                grid-area: 3 / 1 / span 1 / span 1;
            }

            .n2 {
                grid-area: 3 / 2 / span 1 / span 1;
            }

            .n3 {
                grid-area: 3 / 3 / span 1 / span 1;
            }

            .n0 {
                grid-area: 4 / 2 / span 1 / span 1;
            }

            .menus {
                grid-area: 4 / 1 / span 1 / span 1;
            }

            .dot {
                grid-area: 4 / 3 / span 1 / span 1;
            }
            
            .operator {
                grid-column: 4 / span 1;
            }
            
            .delete {
                grid-area: 2 / 5 / span 1 / span 1;
            }
            
            .erase {
                grid-area: 1 / 5 / span 1 / span 1;
            }

            .equal {
                grid-area: 3 / 5 / span 2 / span 1;
            }
        }
    }
}
