/* ********** Fonts ********** */

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4ml1n92AsfhuCq6tVsaio5d-Zq-.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4ml1n92AsfhuCq6tVsaioBd-Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4mm1n92AsfhuCq6tVsagjt47KufXHv8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4mm1n92AsfhuCq6tVsagjt47KWfXA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ********** Variables ********** */

/* ***** Text ***** */

$desaturated-blue: #1C1D34;
$soft-red: #F47B57;
$grayish-blue: #4A4B5E;
$dark-grayish-blue: #777787;

/* ***** Gradient ***** */

$soft-violet: #AE67E9;
$soft-blue: #6464E6;

$light-grayish-blue: #E6E6E9;


@mixin flex ($direction: row, $justify: flex-start, $align: flex-start, $rowg: 0, $columng: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    row-gap: $rowg;
    column-gap: $columng;
}

/* ********** Resets ********** */

@import url('../../Normalize.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    background-image: linear-gradient(to bottom, $soft-violet, $soft-blue);
}

body {
    font-family: 'Kumbh Sans', 'Sans Serif';
}

h1 {
    font-size: 2.5rem;
}

h2 {
    pointer-events: none;
    font-size: 1.2rem;
    font-weight: inherit;
}

p {
    font-size: 1.1rem;
    line-height: inherit;
}

/* ********** Utilities ********** */



/* ********** Container ********** */

.container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    @include flex($justify: center, $align: center);

    section {
        margin-top: 11.5rem;
        margin-bottom: 5.75rem;
        width: 90%;
        max-width: 540px;
        // min-height: calc(90vw / 0.61);
        // max-height: 562.5px;
        background-color: white;
        border-radius: 2rem;
        position: relative;
        @include flex ($direction: column, $align: center);
    }
}

/* ********** Ilustration ********** */

.ilustration_group {
    width: 100%;
    height: 10rem;
    position: relative;

    .ilustration_woman_desktop {
        display: none;
    }

    .ilustration_shadow_desktop {
        display: none;
    }

    .ilustration_woman_mobile {
        position: absolute;
        top: -90%;
        left: 50%;
        transform: translateX(-55%);
    }

    .ilustration_shadow_mobile {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ilustration_box {
    display: none;
}

/* ********** FAQ ********** */

.faqs_group {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 100%;
    min-height: 430px;
    overflow: hidden;
    @include flex ($direction: column, $align: center, $rowg: 1.5rem);

    .faqs_container {
        width: 85%;

        .faq_group {
            padding: 1.5rem 0;
            width: 100%;
            // height: 4.5rem;
            border-bottom: 0.1rem solid $light-grayish-blue;
            overflow: hidden;
            @include flex ($direction: column, $align: center, $rowg: 0);
            transition: height 0.3s ease, row-gap 0.3s ease;
            
            .question {
                width: 100%;
                font-size: 1.2rem;
                font-weight: 400;
                color: $grayish-blue;
                cursor: pointer;
                @include flex ($justify: space-between, $align: center);

                &:hover {
                    font-weight: 700;
                    color: $soft-red;
                }
                
                svg {
                    min-width: 10px;
                    pointer-events: none;
                    transition: transform 0.3s ease;
                }
            }
            
            .answer {
                pointer-events: none;
                width: 95%;
                // height: 0;
                line-height: 0;
                color: $dark-grayish-blue;
                opacity: 0;
                align-self: flex-start;
                transition: all 0.3s ease/* , opacity 0.1s ease 0.3s */;
            }
        }
        
        .faq_active {
            row-gap: 1rem;
            
            .question {
                font-weight: 700;
                color: $desaturated-blue;

                svg {
                    transform: rotate(180deg);
                }
            }

            .answer {
                // height: 4.5rem;
                line-height: 1.5;
                opacity: 1;
            }
        }
    }
}

/* ********** Media Queries ********** */

/* ***** 1000px ***** */

@media screen and (min-width: 1000px) {
    /* ***** Container ***** */
    
    .container {
    
        section {
            margin-top: unset;
            margin-bottom: unset;
            width: 80%;
            height: calc(80vw / 1.9);
            max-width: unset;
            flex-direction: row;
        }
    }

    /* ***** Ilustration ***** */
    
    .ilustration_group {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    
        .ilustration_woman_desktop {
            display: block;
            position: absolute;
            top: 50%;
            left: -18%;
            z-index: 2;
            transform: translateY(-50%);
        }
    
        .ilustration_shadow_desktop {
            display: block;
            position: absolute;
            top: -60%;
            right: 5.5vw;
        }

        .ilustration_woman_mobile {
            display: none;
        }
    
        .ilustration_shadow_mobile {
            display: none;
        }
    }   
    
    .ilustration_box {
        display: block;
        position: absolute;
        top: 40%;
        left: -12.5%;
        z-index: 3;
    }

    /* ***** FAQs ***** */

    .faqs_group {
        justify-content: center;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    /* ***** Container ***** */
    
    .container {
    
        section {
            margin-top: unset;
            margin-bottom: unset;
            width: 70%;
            height: calc(70vw / 1.9);
            max-width: unset;
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 1400px) {
    /* ***** Container ***** */
    
    .container {
    
        section {
            width: 65%;
            max-width: 975px;
            height: calc(65vw / 1.9);
            max-height: 513.156px;
        }
    }
}

