@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpkgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXfbJbA1soo5m2fA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpkgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXfbJbA1spo5m2fA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpkgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXfbJbA1sno5k.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpkgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXfbJ3BFsoo5m2fA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpkgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXfbJ3BFspo5m2fA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpkgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXfbJ3BFsno5k.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CGslu50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CWslu50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_B2sl.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfp66_CGslu50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfp66_CWslu50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfp66_B2sl.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed';
  font-size: 13px;
  line-height: 1.5;
}

.card {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.card .header div {
  padding: 0 1rem;
}

.photo {
  height: 75%;
  border-radius: 50%;
}

h5 {
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
}

h6 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

.container {
  background-color: #ECF2F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .grid {
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
}

.container .grid #card1 {
  background-color: #7953B7;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .grid #card1 h6 {
  color: #e1e1e1;
}

.container .grid #card1 .header div p {
  color: rgba(225, 225, 225, 0.5);
}

.container .grid #card1 h5 {
  color: #e1e1e1;
}

.container .grid #card1 p {
  color: rgba(225, 225, 225, 0.7);
}

.container .grid #card1 h5 {
  z-index: 2;
}

.container .grid #card1 p {
  z-index: 2;
}

.container .grid #card2 {
  background-color: #515864;
}

.container .grid #card2 h6 {
  color: #e1e1e1;
}

.container .grid #card2 .header div p {
  color: rgba(225, 225, 225, 0.5);
}

.container .grid #card2 h5 {
  color: #e1e1e1;
}

.container .grid #card2 p {
  color: rgba(225, 225, 225, 0.7);
}

.container .grid #card3 {
  background-color: #FFFFFF;
}

.container .grid #card3 h6 {
  color: #191919;
}

.container .grid #card3 .header div p {
  color: rgba(25, 25, 25, 0.5);
}

.container .grid #card3 h5 {
  color: #191919;
}

.container .grid #card3 p {
  color: rgba(25, 25, 25, 0.7);
}

.container .grid #card4 {
  background-color: #1F232B;
}

.container .grid #card4 h6 {
  color: #e1e1e1;
}

.container .grid #card4 .header div p {
  color: rgba(225, 225, 225, 0.5);
}

.container .grid #card4 h5 {
  color: #e1e1e1;
}

.container .grid #card4 p {
  color: rgba(225, 225, 225, 0.7);
}

.container .grid #card5 {
  background-color: #FFFFFF;
}

.container .grid #card5 h6 {
  color: #191919;
}

.container .grid #card5 .header div p {
  color: rgba(25, 25, 25, 0.5);
}

.container .grid #card5 h5 {
  color: #191919;
}

.container .grid #card5 p {
  color: rgba(25, 25, 25, 0.7);
}

.comillas {
  position: absolute;
  left: 60%;
  z-index: 1;
}

@media (min-width: 1200px) {
  .container {
    height: 100vh;
  }
  .grid {
    min-width: 1000px;
    min-height: 555px;
    max-width: 1155px;
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[4];
        grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  }
  .grid #card1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .grid #card2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / span 2 / span 1;
  }
  .grid #card3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / span 2 / span 1;
  }
  .grid #card3 #review-3 {
    padding-top: 1.5rem;
  }
  .grid #card4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3 / 2 / span 2 / span 2;
  }
  .grid #card5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / span 4 / span 1;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    height: 100vh;
  }
  .grid {
    min-width: 960px;
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[4];
        grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  }
  .grid #card1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .grid #card2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / span 2 / span 1;
  }
  .grid #card3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / span 2 / span 1;
  }
  .grid #card4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3 / 2 / span 2 / span 2;
  }
  .grid #card5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / span 4 / span 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    min-width: 695px;
    -ms-grid-rows: (1fr)[5] 0.6fr;
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(5, 1fr) 0.6fr/repeat(3, 1fr);
  }
  .grid #card1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .grid #card2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / span 2 / span 1;
  }
  .grid #card3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / span 2 / span 1;
  }
  .grid #card3 #comentario-3 {
    margin-bottom: 1.5rem;
    height: 48px;
  }
  .grid #card3 #review-3 {
    padding-top: 1.5rem;
  }
  .grid #card4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3 / 2 / span 2 / span 2;
  }
  .grid #card5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 5 / 1 / span 2 / span 3;
  }
}

@media (max-width: 767px) {
  .grid {
    width: 100%;
  }
}
/*# sourceMappingURL=TestimonialStyle2.css.map */